<div id="navbar-container">
  <%= image_tag 'picto-1-parcours-hover.png' %>
  <%= image_tag 'picto-2-peda.png' %>
  <%= image_tag 'picto-3-soutien.png' %>
  <%= image_tag 'picto-4-user.png' %>


</div>
