<%= link_to challenge_path(challenge) do %>
  <div class="card-challenge">
    <% if challenge.image_url.present? %>
        <img src="<%= challenge.image_url %>" class="card-img-top img-fluid" alt="Image du défi">
      <% end %>
    <div class="card-challenge-infos">
      <div>
        <h2><%= challenge.name %></h2>
      </div>
    </div>
  </div>
<% end %>
