    <div class="d-flex justify-content-between align-items-center p-3">
      <%= image_tag "picto-pin.png", alt: "navigateur", width: 100, height: 100 %>
      <div class='h5 p-2 text-start'>
        ETAPE 12
        'N 47° 37' 9.7536'' (+47° 37' 9.7536'')'
        12h22 heure locale
        28°C
      </div>
    </div>
    <div class="blue-line"></div>
    <div class="text-center">
    VIDEO

    </div>
    <div class="blue-line"></div>


    <h3 class="text-center"> Les baleines noires de l'Atlantque nord</h3>

    <div class="d-flex justify-content-evenly align-items-center text-center">

      <div>
        <%= image_tag "picto-peda-baleine.png", width: 100 %>
        <div class="">La baleine la plus menacée au monde </div>
      </div>

<div class="div">
      <%= image_tag "picto-peda-livre.png", width: 100 %>
      <div>Ecoute le chant de la baleine!</div>

</div>
    </div>

    <div class="blue-line"></div>
    <h2>Soutiens-nous !</h2>
