
  <div class="">
    <div class="header d-flex justify-content-center">
        <%= image_tag "LOGO-FINALtrans-01.png", alt:"logo pure ocean", width:200 %>
    </div>
    <div class = "backgroundhomepage position-relative">
        <%= link_to challenges_path do %>
      <div class="btn btn-primary butoon ">Vivez l'aventure</div>
        <% end %>
       <%= image_tag "map.jpg", alt: "map", width: 400, height:600 %>
    </div>
    </div>
  </div>
