
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <%= image_tag "LOGO-FINALtrans-01.png", alt:"logo pure ocean", width:300 %>
      </div>
      <div class="col-lg-6">
        <%= image_tag "map.jpg", alt: "map", width: 400, height:600 %>
      </div>
    </div>
  </div>


