<!-- app/views/challenges/index.html.erb -->

<div class="container">
  <div class="section">
    <h2 class="text-center">Les défis sportifs</h2>
    <div class="cards">
      <% @challenges.each do |challenge| %>
        <%= render "challenge_card", challenge: challenge %>
      <% end %>
    </div>
  </div>
</div>
