
<div class="card-container d-flex flex-wrap justify-content-center">
  <% @challenges.each do |challenge| %>
    <div class="card">
      <% if challenge.image_url.present? %>
        <a href="<%= challenge_path(challenge) %>">
          <img src="<%= challenge.image_url %>" class="card-img-top" alt="Image du défi">
        </a>
      <% end %>
      <div class="card-body">
        <h5 class="card-title"><%= challenge.name %></h5>
      </div>
    </div>
  <% end %>
</div>

