
<h1>Les défis</h1>

<div class="card-container">
  <% @challenges.each do |challenge| %>
    <div class="card">
      <% if challenge.image_url.present? %>
        <img src="<%= challenge.image_url %>" class="card-img-top" alt="Image du défi">
      <% end %>
      <div class="card-body">
        <h5 class="card-title"><%= challenge.name %></h5>
      </div>
    </div>
  <% end %>
</div>
