<div class="container">

<h1>Tes contreparties</h1>

<div>Pour un don de 1 à 20 euros, nous t'offrons une belle sérigraphie de poulpes réalisée par une artiste de talent. Cette œuvre d'art est une belle façon de décorer ta maison tout en soutenant notre cause.</div>
<div> Pour un don de 21 à 200 euros, nous t'offrons une bouteille d'eau de mer des Bermudes. Cette eau de mer pure est récoltée dans l'un des endroits les plus préservés de la planète. En plus de soutenir notre cause, tu pourras profiter de cette eau unique et riche en minéraux.</div>
<div>Pour un don de 201 à 2000 euros, nous t'offrons la possibilité d'avoir ton nom ou celui de tes enfants sur la coque de notre bateau. Tu seras ainsi fièrement associé à notre mission de préservation de l'environnement marin.</div>

<p>Merci pour ton soutien et pour aider notre association à continuer de protéger notre planète.
Ensemble, nous pouvons faire une différence significative pour l'avenir de notre planète.</p>
<div class="blue-line"> </div>
</div>
