<div class="container">
  <div class="text-center">
    <h1 class="blue-title">Tes contreparties</h1>
    <p class='price'>1 à 20 euros </p>
    <div class='donation'>Une belle sérigraphie de poulpes réalisée par une artiste de talent.</div>

    <p class='price'> 21 à 200 euros</p>
    <div class='donation'> Une bouteille d'eau de mer des Bermudes.</div>

    <p class='price'> 201 à 2000 euros</p>
    <div class='donation'>Ton nom ou celui de tes enfants sur la coque de notre bateau.</div>
  </div>


  <div class="blue-line"></div>

  <div class="supp">
    <p>Merci pour ton soutien !
    Ensemble, nous pouvons faire une différence pour l'avenir.</p>
    <%= image_tag 'picto-soutien-parrainage.png' %>
  </div>

<p><em> </em></p>
</div>
