.donation {
  border: solid 3px #efc929;
  border-radius: 8%;
  margin-top: 4%;
  margin-bottom: 4%;
  padding: 2%;

}

.blue-title {
  color: #00c8cd;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5%;
  margin-top: 8%;
}

.supp {
  display: flex;
  margin-top: 16%;
}

.price {
  font-weight: bold;
}
